<%= form_for(@product, :html => { :multipart => true}) do |f|%>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :product_title, autofocus: true, placeholder: "An LBD", :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <small class="text-muted">From 2 to 4000 characters</small>
    <%= f.text_area :description, id: :product_description, autofocus: true, :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :image, "Photo" %>
    <%= f.file_field :image, id: :product_image, :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :suburb %>
    <%= f.text_field :suburb, id: :product_suburb, autofocus: true, placeholder: "Bondi", :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.pluck(:name, :id), :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit "Post Ad" %>
  </div>
<% end %>
