<h1>Products</h1>

<table>


  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image, :width => 150, :height => 150, :alt => product.title, :class => 'thumb' %></td>
        <div>
          <td><%= link_to product.title, product %> <br /><br /><%= product.description %></td>
        </div>
        <td><%= product.suburb %></td>
        <td><%= product.category_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
