<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image, :width => 800, :height => 800 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @product.suburb %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
