<p>
  <%= image_tag @product.image, :width => 650, :height => 650, :class => 'img-rounded' %>
</p>

<p>
  <%= @product.title %>
</p>

<p>
  <%= @product.description %>
</p>


<p>
  <%= @product.suburb %>
</p>

<p>
  <%= @product.category.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.user.name %>
</p>

<p>
  <strong>Contact Details:</strong>
  <%= @product.user.email %>
</p>

<%= link_to 'Back', products_path, class: 'btn btn-secondary' %> |
<% if @product.user.id == session[:user_id] %>
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary' %> |
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
